<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Expense Tracker</h1>
    </div>
    <div>
        <form onsubmit="loginUser(event)">
            <label>Email</label>
            <input type="email" id="mail" name="mail" required>
            <label>password</label>
            <input type="password" id="password" name="password">
            <button>Login In</button><br><br>
        </form>
        <div>
            <a href="../views/forgotpassword.html">forgotpassword?</a><br><br>
        </div>
        <div>
        <label>New User?</label>
        <a href="../views/register.html">Sign Up</a>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
    <script src="user.js"></script>
</body>
</html>