.model-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }

  .model-content {
    background-color:aliceblue;
    padding: 40px;
    max-width: 500px;
    width: 100%;
    color: black;
  }

  h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  }

  form label {
    font-weight: bold;
    align-content: end;
  }

  .btn-primary {
    background-color: #17a2b8;
    border-color: #17a2b8;
  }

  .form-control {
    border-radius: 0;
  }

  button {
    width: 100%;
    margin-top: 20px;
  }

  label {
    display: inline-block;
    width: 100px;
    text-align: right;
  }